<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
</head>
<body>
<h1>Log in</h1>
<p>Enter your information</p>
<div th:if="${param.error}" style="color: red;">Invalid username and password.</div>
<div th:if="${param.logout}" style="color: green;">You have been logged out.</div>
<form name="f" th:action="@{/login}" method="post">
    <table>
        <tr>
            <td><label for="username">Email:</label></td>
            <td><input type="text" id="username" name="username" /></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" id="password" name="password" /></td>
        </tr>
        <tr>
            <td><button type="submit">Log in</button></td>
        </tr>
    </table>
    <a href="/">Cancel<br></a>
    <a href="/user/register">Register<br></a>
</form>
</body>
</html>
