<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register your account</h1>
<p>Enter your information</p>
<div th:if="${message}" th:text="${message}" style="color: red;"></div>
<form action="#" th:action="@{/user/register}" th:object="${webUser}" method="post">
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" th:field="*{first}"/></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{last}"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}" /></td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input type="password" th:field="*{confPassword}" /></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td><td></td>
        </tr>
    </table>
    <a href="/">Cancel<br></a>
    <a href="/login">Login<br></a>
</form>
</body>
</html>